# part one

In [ ]:
def SUM(x,y):
  # x= int(input('enter first number='))
  # y= int(input('enter second number='))
  return f'sum of {x} and {y} is {x+y}'
SUM(y=3 , x=2)

'sum of 2 and 3 is 5'

In [ ]:
def zojyafard(x):
  if x%2==0:
    return f'{x} is even'
  else:
    return f'{x} is odd'

zojyafard(x=2)

'2 is even'

In [ ]:
def faqtoriel(x):
  if x<0 :
    return f'{x} has no faqtoriel'
  else:
      i = 1
      main_number = x
      while x>0:
        i *= x
        x = x-1
      return f'faqtoriel {main_number} is {i}'

faqtoriel(5)

'faqtoriel 5 is 120'

In [ ]:
def aksereshte(string):
  if len(string)<=0 :
    return f'{string}'
  else:
    reshteye_jadid = ''
    for i in range(0,len(string)):
      reshteye_jadid = string[i] + reshteye_jadid
    return f'reverse of {string} is {reshteye_jadid}'
aksereshte('nahr')

'reverse of nahr is rhan'

In [ ]:
def fibonatchy(n):
  fibo_list=[0,1]
  if n<0:
    return f'{n} is negetive'
  elif n==0 :
    return [0]
  elif n==1 :
    return [1]
  else:
    for i in range(2,n):
      fibo_list.append(fibo_list[i-1]+fibo_list[i-2])
    return fibo_list
fibonatchy(4)

[0, 1, 1, 2]

# part two

In [ ]:
import math
class circle:
  def __init__(self , radius):
    self.radius = radius

  def square(self):

    return f'square of circle with {self.radius} radius is {2*self.radius*math.pi}'
  def area(self):
    return f'area of circle with {self.radius} radius is {(self.radius**2)*math.pi}'

In [ ]:
c = circle(4)
print(c.square())
print(c.area())

square of circle with 4 radius is 25.132741228718345
area of circle with 4 radius is 50.26548245743669

In [ ]:
class Student:
  def __init__(self,student_id,name,grades=None):
    self.student_id=student_id
    self.name=name
    self.grades=grades
    self.sum = 0
  def add_grades(self):
    self.grades = input(f'enter grades of {self.name} with this student_id {self.student_id} and seperate them by camma=')
    self.grades = self.grades.split(',')
    # print(self.grades)
    # print(type(self.grades))
    for i in range(0,len(self.grades)):
      self.grades[i] = float(self.grades[i])
  def avg(self):
    for i in range(0,len(self.grades)):
      self.sum += self.grades[i]
      if i==len(self.grades)-1 :
          return f'average of {self.grades} is {self.sum/(len(self.grades))}'

In [ ]:
d = Student(1,"hamed")
d.add_grades()

enter grades of hamed with this student_id 1 and seperate them by camma=16,17,18

In [ ]:
d.avg()

'average of [16.0, 17.0, 18.0] is 17.0'

In [ ]:
st= 'aaa'
ls = ['3','2','1']
print(len(st),len(ls),sep='\n')

3
3

In [ ]:
class Student:
  def __init__(self,student_id,name,grades=[]):
    self.student_id=student_id
    self.name=name
    self.grades=grades
    self.sum = 0
  def add_grades(self,grade):
    self.grades.append(grade)

  def avg(self):
    for i in range(0,len(self.grades)):
      self.sum += self.grades[i]
      if i==len(self.grades)-1 :
          return f'average of {self.grades} is {self.sum/(len(self.grades))}'

In [ ]:
d = Student(1,"hamed")
d.add_grades(16)

In [ ]:
d.add_grades(17)

In [ ]:
d.add_grades(18)

In [ ]:
d.avg()

'average of [16, 17, 18] is 17.0'

In [ ]:
des = []
print(type(des))

<class 'list'>

In [ ]:
class Student:
  def __init__(self,student_id,name,grades=[]):
    self.student_id=student_id
    self.name=name
    self.grades=grades
  def add_grades(self,grade):
    self.grades.append(grade)

  def avg(self):
    summ = 0
    for i in range(0,len(self.grades)):
      summ += self.grades[i]
      if i==len(self.grades)-1 :
          return f'average of {self.grades} is {summ/(len(self.grades))}'

In [ ]:
class BankAccount:
  def __init__(self,owner,balance):
    self.owner = owner
    self.balance = balance

  def deposit(self,invest_money):
    self.balance += invest_money
    print(f'{self.owner},here is your new balance ={self.balance}')

  def withdraw(self,take_out_money):
    if take_out_money > self.balance:
      print(f'{self.owner},not enough balance for your request is available')
    else:
      self.balance -= take_out_money
      print(f'{self.owner},here is your {take_out_money}')

In [ ]:
d1 = BankAccount('hamed',10000)
d2 = BankAccount('ali',15000)

In [ ]:
d1.deposit(500)

hamed,here is your new balance =10500

In [ ]:
d2.withdraw(500)

ali,here is your 500

In [ ]:
class Car:
  def __init__(self,brand,model,year,speed):
    self.brand = brand
    self.model = model
    self.year = year
    self.speed = speed
  def accelerate(self,increase_speed):
    self.speed += increase_speed
  def brake(self,decrease_speed):
    self.speed -= decrease_speed
  def info(self):
    print(f'car\'s information :\n brand={self.brand} \n model={self.model} \n year={self.year} \n speed={self.speed}')

In [ ]:
d1 = Car('audi','x3','2008',60)
d2 = Car('BMW','x4','2018',80)

In [ ]:
d1.accelerate(50)
d1.brake(40)
d1.info()

car's information :
 brand=audi
 model=x3
 year=2008
 speed=70

In [ ]:
class Book:
  def __init__(self,title,author,year):
    self.title = title
    self.author = author
    self.year = year
  # def __str__(self):
  #       return f"{self.title} by {self.author} ({self.year})"
  def __repr__(self):
        return f"Book(title='{self.title}', author='{self.author}', year={self.year})"

In [ ]:
class Library():
  def __init__(self,book_list=None):
    self.book_list = list(book_list) if book_list is not None else []
  def add_book(self,book):
    self.book_list.append(book)
    print(f'{self.book_list}')
  def delete_book(self,book):
    self.book_list.remove(book)
    print(f'{self.book_list}')
  def find_book(self,*,title=None,author=None):

    if title is None and author is None:
            return list(self.book_list)

    t = title.strip().lower() if isinstance(title, str) else None
    a = author.strip().lower() if isinstance(author, str) else None

    result = []
    for b in self.book_list:
        ok_title  = True if t is None else (t in b.title.lower())
        ok_author = True if a is None else (a in b.author.lower())
        if ok_title and ok_author:
            result.append(b)
    return result

In [ ]:
d1 = Book('war','ali','2001')

In [ ]:
d2 = Library()
d2.add_book(d1)

[Book(title='war', author='ali', year=2001)]

In [ ]:
d3 = Book('tax','iman','2008')

In [ ]:
d2.add_book(d3)

[Book(title='war', author='ali', year=2001), Book(title='tax', author='iman', year=2008)]

In [ ]:
d2.delete_book(d1)

[Book(title='tax', author='iman', year=2008)]

In [ ]:
d2.find_book(title = 'war',author = 'ali')

[Book(title='war', author='ali', year=2001)]

In [ ]:
class Product:
  def __init__(self,name,price,quantity):
    self.name = name
    self.price = float(price)
    self.quantity = int(quantity)

In [ ]:
class Store:
  def __init__(self,product_list):
    self.product_list = list(product_list) if product_list is not None else []

  def buy_products(self,name_list,number_list):
    names_list = list(name_list)
    numbers_list = list(number_list)
    summ=0
    if len(names_list) != len(numbers_list):
            return "Error: lens are not equal"
    for i in range(0,len(names_list)):
      for b in self.product_list:
        if self.product_list[b].name == names_list[i]:
          if self.product_list[b].quantity >= numbers_list[i]:
            summ += numbers_list[i]*b.price
            self.product_list[b].quantity -= numbers_list[i]
          else:
            return f'not enough numbers of {names_list[i]} is higher than our storage({self.product_list[b].quantity})'
    return f'you have to pay {summ} \n {self.product_list}'

In [ ]:
class Store:
  def __init__(self,product_list):
    self.product_list = list(product_list) if product_list is not None else []

  def buy_products(self,name_list,number_list):
    names_list = list(name_list)
    numbers_list = list(number_list)
    summ=0
    if len(names_list) != len(numbers_list):
            return "Error: lens are not equal"
    for i in range(0,len(names_list)):
      for b in self.product_list:
        if b.name == names_list[i]:
          if b.quantity >= numbers_list[i]:
            summ += numbers_list[i]*b.price
            b.quantity -= numbers_list[i]
          else:
            return f'not enough numbers of {names_list[i]} is higher than our storage({b.quantity})'
    inventory_str = ", ".join(f"{p.name}:{p.quantity}" for p in self.product_list)
    return f"you have to pay {summ} /n inventory: {inventory_str}"

In [ ]:
d1 = Product('pizza',200,10)
d2 = Product('berger',150,18)
d3 = Product('rice',50,15)
d4 = Product('coda',20,27)
d5 = Store([d1 , d2 , d3 , d4])

In [ ]:
d5.buy_products(name_list=['pizza','coda'],number_list=[3,5])

'you have to pay 700.0 /n inventory: pizza:7, berger:18, rice:15, coda:22'